USE [master]
GO
/****** Object:  Database [DB_KITAP_DEGERLENDIRME]    Script Date: 26.05.2018 20:39:02 ******/
CREATE DATABASE [DB_KITAP_DEGERLENDIRME]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_KITAP_DEGERLENDIRME', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DB_KITAP_DEGERLENDIRME.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_KITAP_DEGERLENDIRME_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DB_KITAP_DEGERLENDIRME_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_KITAP_DEGERLENDIRME].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_KITAP_DEGERLENDIRME]
GO
USE [DB_KITAP_DEGERLENDIRME]
GO
/****** Object:  Table [dbo].[KISI]    Script Date: 26.05.2018 20:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KISI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RESIM] [nvarchar](200) NULL,
	[ADI] [nvarchar](50) NOT NULL,
	[SOYADI] [nvarchar](50) NOT NULL,
	[DOGUM_TARIHI] [datetime] NULL,
	[CINSIYET] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](30) NULL,
	[TELEFON] [nvarchar](20) NULL,
	[ADRES] [nvarchar](150) NULL,
	[SEHIR_ID] [int] NOT NULL,
 CONSTRAINT [PK_KISI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KITAP]    Script Date: 26.05.2018 20:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KITAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YAYIN_EVI_ID] [int] NOT NULL,
	[ADI] [nvarchar](50) NOT NULL,
	[ISBN] [nvarchar](50) NOT NULL,
	[YAYIN_TARIHI] [date] NOT NULL,
	[SAYFA_SAYISI] [int] NOT NULL,
	[TANITIM] [nvarchar](max) NULL,
 CONSTRAINT [PK_KITAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KITAP_ALINTI]    Script Date: 26.05.2018 20:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KITAP_ALINTI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICI_ID] [int] NULL,
	[KITAP_ID] [int] NULL,
	[SAYFA_NO] [int] NULL,
	[CUMLE] [nvarchar](max) NULL,
 CONSTRAINT [PK_KITAP_ALINTI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KITAP_INCELEME]    Script Date: 26.05.2018 20:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KITAP_INCELEME](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICI_ID] [int] NOT NULL,
	[KITAP_ID] [int] NOT NULL,
	[INCELEME] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KITAP_INCELEME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KITAP_OKUNMA]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KITAP_OKUNMA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICI_ID] [int] NOT NULL,
	[KITAP_ID] [int] NOT NULL,
 CONSTRAINT [PK_KITAP_OKUNMA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KITAP_PUAN]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KITAP_PUAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICI_ID] [int] NOT NULL,
	[KITAP_ID] [int] NOT NULL,
	[PUAN] [int] NOT NULL,
 CONSTRAINT [PK_KITAP_PUAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KITAP_YAZAR]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KITAP_YAZAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KITAP_ID] [int] NOT NULL,
	[YAZAR_ID] [int] NOT NULL,
 CONSTRAINT [PK_KITAP_YAZAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KULLANICI]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANICI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](50) NOT NULL,
	[SIFRE] [nvarchar](20) NOT NULL,
	[KISI_ID] [int] NOT NULL,
	[YETKI_ID] [int] NOT NULL,
 CONSTRAINT [PK_KULLANICI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [nvarchar](50) NOT NULL,
	[ICON] [nvarchar](15) NOT NULL,
	[YETKI_ID] [int] NOT NULL,
	[LINK] [nvarchar](50) NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESAJ]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESAJ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN_ID] [int] NOT NULL,
	[GIDEN_ID] [int] NOT NULL,
	[BASLIK] [nvarchar](50) NOT NULL,
	[MESAJ] [nvarchar](250) NOT NULL,
	[TARIH] [date] NOT NULL,
 CONSTRAINT [PK_MESAJ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEHIR]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEHIR](
	[ID] [int] NOT NULL,
	[ADI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SEHIR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ULKE]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ULKE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ULKE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YAYIN_EVI]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YAYIN_EVI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](50) NOT NULL,
	[ADRES] [nvarchar](150) NULL,
 CONSTRAINT [PK_YAYIN_EVI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YAZAR]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YAZAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](50) NOT NULL,
	[SOYADI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_YAZAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YETKI]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YETKI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](50) NULL,
 CONSTRAINT [PK_YETKI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MESAJ] ADD  CONSTRAINT [DF_MESAJ_TARIH]  DEFAULT (getdate()) FOR [TARIH]
GO
ALTER TABLE [dbo].[KISI]  WITH CHECK ADD  CONSTRAINT [FK_KISI_SEHIR] FOREIGN KEY([SEHIR_ID])
REFERENCES [dbo].[SEHIR] ([ID])
GO
ALTER TABLE [dbo].[KISI] CHECK CONSTRAINT [FK_KISI_SEHIR]
GO
ALTER TABLE [dbo].[KITAP]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_YAYIN_EVI] FOREIGN KEY([YAYIN_EVI_ID])
REFERENCES [dbo].[YAYIN_EVI] ([ID])
GO
ALTER TABLE [dbo].[KITAP] CHECK CONSTRAINT [FK_KITAP_YAYIN_EVI]
GO
ALTER TABLE [dbo].[KITAP_ALINTI]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_ALINTI_KITAP] FOREIGN KEY([KITAP_ID])
REFERENCES [dbo].[KITAP] ([ID])
GO
ALTER TABLE [dbo].[KITAP_ALINTI] CHECK CONSTRAINT [FK_KITAP_ALINTI_KITAP]
GO
ALTER TABLE [dbo].[KITAP_ALINTI]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_ALINTI_KULLANICI] FOREIGN KEY([KULLANICI_ID])
REFERENCES [dbo].[KULLANICI] ([ID])
GO
ALTER TABLE [dbo].[KITAP_ALINTI] CHECK CONSTRAINT [FK_KITAP_ALINTI_KULLANICI]
GO
ALTER TABLE [dbo].[KITAP_INCELEME]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_INCELEME_KITAP] FOREIGN KEY([KITAP_ID])
REFERENCES [dbo].[KITAP] ([ID])
GO
ALTER TABLE [dbo].[KITAP_INCELEME] CHECK CONSTRAINT [FK_KITAP_INCELEME_KITAP]
GO
ALTER TABLE [dbo].[KITAP_INCELEME]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_INCELEME_KULLANICI] FOREIGN KEY([KULLANICI_ID])
REFERENCES [dbo].[KULLANICI] ([ID])
GO
ALTER TABLE [dbo].[KITAP_INCELEME] CHECK CONSTRAINT [FK_KITAP_INCELEME_KULLANICI]
GO
ALTER TABLE [dbo].[KITAP_OKUNMA]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_OKUNMA_KITAP] FOREIGN KEY([KITAP_ID])
REFERENCES [dbo].[KITAP] ([ID])
GO
ALTER TABLE [dbo].[KITAP_OKUNMA] CHECK CONSTRAINT [FK_KITAP_OKUNMA_KITAP]
GO
ALTER TABLE [dbo].[KITAP_OKUNMA]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_OKUNMA_KULLANICI] FOREIGN KEY([KULLANICI_ID])
REFERENCES [dbo].[KULLANICI] ([ID])
GO
ALTER TABLE [dbo].[KITAP_OKUNMA] CHECK CONSTRAINT [FK_KITAP_OKUNMA_KULLANICI]
GO
ALTER TABLE [dbo].[KITAP_PUAN]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_PUAN_KITAP] FOREIGN KEY([KITAP_ID])
REFERENCES [dbo].[KITAP] ([ID])
GO
ALTER TABLE [dbo].[KITAP_PUAN] CHECK CONSTRAINT [FK_KITAP_PUAN_KITAP]
GO
ALTER TABLE [dbo].[KITAP_PUAN]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_PUAN_KULLANICI] FOREIGN KEY([KULLANICI_ID])
REFERENCES [dbo].[KULLANICI] ([ID])
GO
ALTER TABLE [dbo].[KITAP_PUAN] CHECK CONSTRAINT [FK_KITAP_PUAN_KULLANICI]
GO
ALTER TABLE [dbo].[KITAP_YAZAR]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_YAZAR_KITAP] FOREIGN KEY([KITAP_ID])
REFERENCES [dbo].[KITAP] ([ID])
GO
ALTER TABLE [dbo].[KITAP_YAZAR] CHECK CONSTRAINT [FK_KITAP_YAZAR_KITAP]
GO
ALTER TABLE [dbo].[KITAP_YAZAR]  WITH CHECK ADD  CONSTRAINT [FK_KITAP_YAZAR_YAZAR] FOREIGN KEY([YAZAR_ID])
REFERENCES [dbo].[YAZAR] ([ID])
GO
ALTER TABLE [dbo].[KITAP_YAZAR] CHECK CONSTRAINT [FK_KITAP_YAZAR_YAZAR]
GO
ALTER TABLE [dbo].[KULLANICI]  WITH CHECK ADD  CONSTRAINT [FK_KULLANICI_KISI] FOREIGN KEY([KISI_ID])
REFERENCES [dbo].[KISI] ([ID])
GO
ALTER TABLE [dbo].[KULLANICI] CHECK CONSTRAINT [FK_KULLANICI_KISI]
GO
ALTER TABLE [dbo].[KULLANICI]  WITH CHECK ADD  CONSTRAINT [FK_KULLANICI_YETKI] FOREIGN KEY([YETKI_ID])
REFERENCES [dbo].[YETKI] ([ID])
GO
ALTER TABLE [dbo].[KULLANICI] CHECK CONSTRAINT [FK_KULLANICI_YETKI]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_YETKI] FOREIGN KEY([YETKI_ID])
REFERENCES [dbo].[YETKI] ([ID])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_YETKI]
GO
ALTER TABLE [dbo].[MESAJ]  WITH CHECK ADD  CONSTRAINT [FK_MESAJ_KISI] FOREIGN KEY([GONDEREN_ID])
REFERENCES [dbo].[KISI] ([ID])
GO
ALTER TABLE [dbo].[MESAJ] CHECK CONSTRAINT [FK_MESAJ_KISI]
GO
ALTER TABLE [dbo].[MESAJ]  WITH CHECK ADD  CONSTRAINT [FK_MESAJ_KISI1] FOREIGN KEY([GIDEN_ID])
REFERENCES [dbo].[KISI] ([ID])
GO
ALTER TABLE [dbo].[MESAJ] CHECK CONSTRAINT [FK_MESAJ_KISI1]
GO
/****** Object:  StoredProcedure [dbo].[MESAJ_GONDER]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MESAJ_GONDER]
@GELEN_ADI NVARCHAR(50),
@GIDEN_ADI NVARCHAR(50),
@BASLIK NVARCHAR(50),
@MESAJ NVARCHAR(100)

AS
BEGIN
INSERT INTO MESAJ (GONDEREN_ID,GIDEN_ID,BASLIK,MESAJ,TARIH) VALUES ((SELECT ID FROM KULLANICI WHERE ADI=@GELEN_ADI),
(SELECT ID FROM KISI WHERE ADI+' '+SOYADI=@GIDEN_ADI),@BASLIK,@MESAJ,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ORTAK_KITAP_ONERI]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_ORTAK_KITAP_ONERI] --'azizoglu'
@KULLANICI_ADI NVARCHAR(50)
AS
BEGIN
	DECLARE @KULLANICI_ID INT
	SET @KULLANICI_ID=(SELECT ID FROM KULLANICI WHERE ADI=@KULLANICI_ADI)
	SELECT KO.KULLANICI_ID, KU.ADI AS KULLANICI_ADI,COUNT(KO.KITAP_ID) AS ORTAK_KITAP  FROM KITAP_OKUNMA AS KO,KULLANICI AS KU 
	WHERE KO.KULLANICI_ID=KU.ID AND KITAP_ID 
	IN (SELECT KITAP_ID FROM KITAP_OKUNMA WHERE KULLANICI_ID=@KULLANICI_ID) AND KULLANICI_ID!=@KULLANICI_ID
	GROUP BY KO.KULLANICI_ID, KU.ADI 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ORTAK_ONERI]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_ORTAK_ONERI] --'azizoglu'
@KULLANICI_ADI NVARCHAR(50)
AS
BEGIN
	DECLARE @KULLANICI_ID INT
	SET @KULLANICI_ID=(SELECT ID FROM KULLANICI WHERE ADI=@KULLANICI_ADI)

	
	SELECT DISTINCT KO.KITAP_ID AS ID,KT.ADI FROM KITAP_OKUNMA AS KO,KITAP AS KT WHERE KO.KITAP_ID=KT.ID AND 
	KULLANICI_ID IN (SELECT KO.KULLANICI_ID FROM KITAP_OKUNMA AS KO,KULLANICI AS KU 
	WHERE KO.KULLANICI_ID=KU.ID AND KITAP_ID 
	IN (SELECT KITAP_ID FROM KITAP_OKUNMA WHERE KULLANICI_ID=@KULLANICI_ID) AND KULLANICI_ID!=@KULLANICI_ID
	GROUP BY KO.KULLANICI_ID
	UNION ALL
	SELECT KP.KULLANICI_ID
	FROM KITAP_PUAN AS KP,KULLANICI AS KU,KITAP AS KT 
	WHERE KP.KULLANICI_ID=KU.ID AND KP.KITAP_ID=KT.ID AND (KP.KITAP_ID+'-'+KP.PUAN)
	IN (SELECT KITAP_ID+'-'+PUAN FROM KITAP_PUAN WHERE KULLANICI_ID=@KULLANICI_ID) AND KULLANICI_ID!=@KULLANICI_ID
	GROUP BY KP.KULLANICI_ID) AND KITAP_ID NOT IN (SELECT KITAP_ID FROM KITAP_OKUNMA WHERE KULLANICI_ID=@KULLANICI_ID)
	--AND KITAP_ID=RAND()*((SELECT MAX(KT.ID) FROM KITAP)-1)+1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ORTAK_PUAN_ONERI]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_ORTAK_PUAN_ONERI] 
@KULLANICI_ADI NVARCHAR(50)
AS
BEGIN
	DECLARE @KULLANICI_ID INT
	SET @KULLANICI_ID=(SELECT ID FROM KULLANICI WHERE ADI=@KULLANICI_ADI)
	
	SELECT KP.KULLANICI_ID, KU.ADI AS KULLANICI_ADI,KT.ADI AS KITAP_ADI,KP.PUAN  
	FROM KITAP_PUAN AS KP,KULLANICI AS KU,KITAP AS KT 
	WHERE KP.KULLANICI_ID=KU.ID AND KP.KITAP_ID=KT.ID AND (KP.KITAP_ID+'-'+KP.PUAN)
	IN (SELECT KITAP_ID+'-'+PUAN FROM KITAP_PUAN WHERE KULLANICI_ID=@KULLANICI_ID) AND KULLANICI_ID!=@KULLANICI_ID
	GROUP BY KP.KULLANICI_ID, KU.ADI , KT.ADI,KP.PUAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_KITAP]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_KITAP]
@YAYIN_EVI_ADI NVARCHAR(50),
@YAYIN_EVI_ADRES NVARCHAR(100),
@YAZAR_ADI NVARCHAR(50),
@YAZAR_SOYADI NVARCHAR(50),
@KITAP_ADI NVARCHAR(50),
@ISBN NVARCHAR(50),
@SAYFA_SAYISI NVARCHAR(50),
@YAYIN_TARIHI NVARCHAR(50),
@TANITIM NVARCHAR(MAX)
AS 
BEGIN
		DECLARE @YAYIN_EVI_ID INT
        DECLARE @KITAP_ID INT;
        DECLARE @YAZAR_ID INT;
        
        INSERT INTO YAYIN_EVI (ADI,ADRES) VALUES (@YAYIN_EVI_ADI,@YAYIN_EVI_ADRES);
        INSERT INTO YAZAR (ADI,SOYADI) VALUES (@YAZAR_ADI,@YAZAR_SOYADI)

        SET @YAYIN_EVI_ID=(SELECT ID FROM YAYIN_EVI WHERE ADI=@YAYIN_EVI_ADI);

        INSERT INTO KITAP (ADI,ISBN,SAYFA_SAYISI,YAYIN_EVI_ID,YAYIN_TARIHI,TANITIM) VALUES (@KITAP_ADI,@ISBN,@SAYFA_SAYISI,@YAYIN_EVI_ID,@YAYIN_TARIHI,@TANITIM)
        SET @KITAP_ID=(SELECT ID FROM KITAP WHERE ADI=@KITAP_ADI)
        SET @YAZAR_ID=(SELECT ID FROM YAZAR WHERE ADI=@YAZAR_ADI AND SOYADI=@YAZAR_SOYADI)

        INSERT INTO KITAP_YAZAR (KITAP_ID,YAZAR_ID) VALUES (@KITAP_ID,@YAZAR_ID)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KULLANICI_GIRIS]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KULLANICI_GIRIS]
@KULLANICI_ADI NVARCHAR(50),
@SIFRE NVARCHAR(50)
AS
BEGIN
	IF EXISTS (SELECT*FROM KULLANICI WHERE ADI=@KULLANICI_ADI AND SIFRE=@SIFRE)
	BEGIN
		SELECT P.RESIM,P.ADI,P.SOYADI,P.CINSIYET,P.EMAIL,P.TELEFON,P.ADRES,S.ADI AS SEHIR,U.YETKI_ID 
		FROM KULLANICI AS U,KISI AS P,SEHIR AS S 
		WHERE U.KISI_ID=P.ID AND P.SEHIR_ID=S.ID AND U.ADI=@KULLANICI_ADI AND U.SIFRE=@SIFRE
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KULLANICI_KAYIT]    Script Date: 26.05.2018 20:39:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KULLANICI_KAYIT]
@RESIM NVARCHAR(50),
@KULLANICI_ADI NVARCHAR(50),
@SIFRE NVARCHAR(50),
@AD NVARCHAR(50),
@SOYAD NVARCHAR(50),
@DOGUM_TARIHI NVARCHAR(50),
@CINSIYET NVARCHAR(50),
@EMAIL NVARCHAR(30),
@TELEFON NVARCHAR(20),
@ADRES NVARCHAR(150),
@SEHIR_ID INT,
@RESULT NVARCHAR(50)='BASARISIZ'
AS
BEGIN 
	IF NOT EXISTS (SELECT*FROM KULLANICI WHERE ADI=@KULLANICI_ADI)
	BEGIN
		INSERT INTO KISI (RESIM,ADI,SOYADI,DOGUM_TARIHI,CINSIYET,EMAIL,TELEFON,ADRES,SEHIR_ID) 
		VALUES (@RESIM,@AD,@SOYAD,@DOGUM_TARIHI,@CINSIYET,@EMAIL,@TELEFON,@ADRES,@SEHIR_ID)
		INSERT INTO KULLANICI (ADI,SIFRE,KISI_ID,YETKI_ID) VALUES (@KULLANICI_ADI,@SIFRE,(SELECT MAX(ID) FROM KISI),2)
		SET @RESULT='BASARILI'
	END
	SELECT @RESULT AS RESULT
END
GO
USE [master]
GO
