USE [DB_KITAP_DEGERLENDIRME]
GO
/****** Object:  Table [dbo].[YETKI]    Script Date: 26.05.2018 21:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YETKI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [nvarchar](50) NULL,
 CONSTRAINT [PK_YETKI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[YETKI] ON 

INSERT [dbo].[YETKI] ([ID], [ADI]) VALUES (1, N'YÖNETİCİ')
INSERT [dbo].[YETKI] ([ID], [ADI]) VALUES (2, N'KULLANICI')
SET IDENTITY_INSERT [dbo].[YETKI] OFF
